<%= form_with scope: :comment, url:article_comment_index_url(@article.id), local: true do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
 
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
 
  <p>
    <%= form.submit value:"add a comment" %>
  </p>
<% end %>